{% extends "core/base.html" %} {% load static %}

{% block title %}Nosotros{% endblock title %}

{% block content %}

<!-- Body -->
<div class="col-md-5 offset-md-2 lined-crossed">
    <h2 class="lined">Lorem Ipsum OneTeam</h2>
    <p>Lorem ipsum dolor amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et.</p>
</div>

<div class="container mb-5 "> 
    <div class="text-center mb-3"> 
        <h4>Revista Agenda Mujer</h4> 
        <h3>Nuestro equipo creativo</h3> 
    </div> 
    <div class="row g-2 text-center"> 
        <div class="col-md-4"> 
            <div class="card"> 
                <img src="{% static "/portraits/1.png" %}" class="img-fluid rounded"> 
                <div class="d-flex justify-content-center align-items-center"> 
                    <div class="info info-yellow"> 
                        <span class="user-icons">
                            <img src="{% static "/img/ceo.png" %}" width="30">
                        </span> <div class="user-profile d-flex flex-row"> 
                            <div class="d-flex flex-column mr-2"> 
                                <span class="name">Vania Díaz</span> 
                                <small class="designation">Ingeniera de RRHH, Escritora.</small> 
                                <hr> 
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis reprehenderit quibusdam ipsum nostrum nisi temporibus, et explicabo laudantium, possimus, blanditiis omnis aliquam in aliquid ex. Voluptas maxime blanditiis explicabo esse.</p>
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
        <div class="col-md-4"> 
            <div class="card"> 
                <img src="{% static "/portraits/2.png" %}" class="img-fluid rounded"> 
                <div class="d-flex justify-content-center align-items-center"> 
                    <div class="info info-green"> 
                        <span class="user-icons">
                            <img src="{% static "/img/locutor.png" %}" width="30">
                        </span> 
                        <div class="user-profile d-flex flex-row"> 
                            <div class="d-flex flex-column mr-2"> 
                                <span class="name">Carmen Monge</span> 
                                <small class="designation">Psicóloga, Psicopedagoga.</small>
                                <hr> 
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis reprehenderit quibusdam ipsum nostrum nisi temporibus, et explicabo laudantium, possimus, blanditiis omnis aliquam in aliquid ex. Voluptas maxime blanditiis explicabo esse.</p>

                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
        <div class="col-md-4"> 
            <div class="card"> 
                <img src="{% static "/portraits/3.png" %}" class="img-fluid rounded"> 
                <div class="d-flex justify-content-center align-items-center"> 
                    <div class="info info-blue"> 
                        <span class="user-icons">
                            <img src="{% static "/img/escritor.png" %}" width="30">
                        </span> 
                        <div class="user-profile d-flex flex-row"> 
                            <div class="d-flex flex-column mr-2"> 
                                <span class="name">Soira Celestino</span> 
                                <small class="designation">Emprendedora, Contador Fiscal.</small> 
                                <hr> 
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis reprehenderit quibusdam ipsum nostrum nisi temporibus, et explicabo laudantium, possimus, blanditiis omnis aliquam in aliquid ex. Voluptas maxime blanditiis explicabo esse.</p>

                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
</div>

{% endblock content %}