{% extends "core/base.html" %} {% load static %}

{% block title %}Inicio{% endblock title %}

{% block content %}

<div class="wrapper-dark wrapper-hero">
<div class="container">
    <div class="row">
    <div class="col-sm-12 col-md-5">
        <h1>REVISTA AGENDA MUJER</h1>

        <p>Te invitamos a seguir nuestro canal y nuestros perfiles de facebook e instagram. <br>
            Quieres saber de nuestra Revista, escribenos. revistaagendamujer@gmail.com</p>
        <a class="btn btn-primary" href="/" title="Link Text" target="_self">¡Ver más!</a>

    </div>
    <div class="col-md-7">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Qjb7Lx5kxGo?si=G9319IiKUTV8VF3S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    </div>
</div>
</div>
<hr>
<div class="wrapper-dark">
<div class="container">
    <div class="row">
    <div class="col-md-5 offset-md-1 lined-crossed">
        <h2 class="lined">¡Explora también nuestros Podcast!</h2>
        <p>"Conocerse a sí mismo, es un punto muy importante al ser mujer. Aún tenemos muchos puntos por luchar en este nuevo mundo, desde los sueldos, lugares, mejorar en nuestras relaciones y adquirir puestos más importantes para nosotras. <br> Cada día vendrán nuevas oportunidades y juntas podremos crecer."</p>
        <footer class="blockquote-footer">Carmen Figueróa <cite title="Source Title">CEO Revista Agenda Mujer</cite></footer>
    </div>
    </div>
    <div class="row lined-linked">
    <div class="col-md-9 offset-md-2">
        <div class="row">
        <div class="col-md-6">
            <h2 class="lined">Lanzamiento de Revista Agenda Mujer</h2>
            <p>Agradecemos a Lilian Schiavo, Presidenta de OBME Brasil, por ser nuestra portada, a todas nuestras escritoras, a mujeres chingonas de Querétaro y a Lesbia Álvarez de Guatemala. También a Vania Díaz, una de nuestras hermosas escritoras que estuvieron en este gran lanzamiento.</p>
            <a href="#" class="link">Learn More</a>
        </div>
        <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Pd7VRw0PJH4?si=B6mfXk1FdHDHxu7_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-md-6">
            <h2 class="lined">Flavia Bruno para Revista Agenda Mujer</h2>
            <p>Agradecemos a Lilian Schiavo, Presidenta de OBME Brasil, por ser nuestra portada, a todas nuestras escritoras, a mujeres chingonas de Querétaro y a Lesbia Álvarez de Guatemala. También a Vania Díaz, una de nuestras hermosas escritoras que estuvieron en este gran lanzamiento.</p>
            <a href="#" class="link">Learn More</a>
        </div>
        <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/J5VuWfntw-M?si=CPl2tp5Wv_LEchn-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-md-6">
            <h2>Lanzamiento Revista Agenda Mujer de Chile</h2>
            <p>Agradecemos a Lilian Schiavo, Presidenta de OBME Brasil, por ser nuestra portada, a todas nuestras escritoras, a mujeres chingonas de Querétaro y a Lesbia Álvarez de Guatemala. También a Vania Díaz, una de nuestras hermosas escritoras que estuvieron en este gran lanzamiento.</p>
            <a href="#" class="link">Learn More</a>
        </div>
        <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Amf7VTE3g0M?si=NPK0E5Q2V3UbfzG_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
<hr>
<div class="wrapper-dark">
<div class="container">
    <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-1 text-center special-img">
        <div class="img-wrapper">
        <img src="{% static "/issues/revista_abril.jpeg" %}" alt="" class="img-fluid " />
        </div>

    </div>
    </div>
</div>
</div>
<div class="wrapper-light">
<div class="container">
    <div class="row">
    <div class="col-md-8 offset-md-1">
        <div class="lined-wrapper-left">
        <h2 class="lined">Revista Agenda Mujer - Primera Edición Abril</h2>
        </div>

    </div>
    </div>
</div>
</div>
<div class="wrapper-dark">
<div class="container">
    <div class="row">
    <div class="col-md-8 offset-md-1">
        <div class="lined-wrapper-top">
        <blockquote class="blockquote lined">
            <p>"Conocerse a sí mismo, es un punto muy importante al ser mujer. Aún tenemos muchos puntos por luchar en este nuevo mundo, desde los sueldos, lugares, mejorar en nuestras relaciones y adquirir puestos más importantes para nosotras. <br> Cada día vendrán nuevas oportunidades y juntas podremos crecer."</p>
            <footer class="blockquote-footer">Carmen Figueróa <cite title="Source Title">CEO Revista Agenda Mujer</cite></footer>
        </blockquote>
        </div>

    </div>
    </div>
</div>
</div>

{% endblock content %}