{% extends "core/base.html" %}

{% block title %}Inicio{% endblock title %}

{% block content %}

<div class="wrapper-dark wrapper-hero">
<div class="container">
    <div class="row">
    <div class="col-sm-12 col-md-5">
        <h1>Nulla tincidunt scelerisque dolor</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing, sed do eiusmod tempor incididunt abore aliqua.</p>

        <a class="btn btn-primary" href="/" title="Link Text" target="_self">Link Text</a>

    </div>
    <div class="col-md-7">
        <img src="http://dummyimage.com/680x420/" alt="" class="img-fluid " />
    </div>
    </div>
</div>
</div>
<hr>
<div class="wrapper-dark">
<div class="container">
    <div class="row">
    <div class="col-md-5 offset-md-2 lined-crossed">
        <h2 class="lined">Lorem Ipsum OneTeam</h2>
        <p>Lorem ipsum dolor amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et.</p>
    </div>
    </div>
    <div class="row lined-linked">
    <div class="col-md-9 offset-md-3">
        <div class="row">
        <div class="col-md-6">
            <h2 class="lined">Lorem Ipsum Transparency</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque facilis tempora quam obcaecati culpa cumque cum libero maxime ea vitae natus dicta mollitia ratione harum, dignissimos perferendis dolorum, possimus eaque!</p>
            <a href="#" class="link">Learn More</a>
        </div>
        <div class="col-md-6">
            <img src="http://dummyimage.com/375x250/" alt="" class="img-fluid " />
        </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-md-6">
            <h2 class="lined">Lorem Ipsum Transparency</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio rem nam dolorum, exercitationem quaerat consequuntur? Perspiciatis, libero itaque omnis cupiditate dolorem at, aspernatur laudantium asperiores quo sit quas eveniet optio.</p>
            <a href="#" class="link">Learn More</a>
        </div>
        <div class="col-md-6">
            <img src="http://dummyimage.com/375x250/" alt="" class="img-fluid " />
        </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-md-6">
            <h2>Lorem Ipsum Transparency</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet odio saepe fugit, exercitationem incidunt. Eveniet aperiam, commodi assumenda voluptates molestiae animi nostrum. Consectetur alias quos, est quisquam beatae velit?</p>
            <a href="#" class="link">Learn More</a>
        </div>
        <div class="col-md-6">
            <img src="http://dummyimage.com/375x250/" alt="" class="img-fluid " />
        </div>
        </div>
    </div>
    </div>
</div>
</div>
<hr>
<div class="wrapper-dark">
<div class="container">
    <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 text-center special-img">
        <div class="img-wrapper">
        <img src="http://dummyimage.com/770x400/" alt="" class="img-fluid " />
        </div>

    </div>
    </div>
</div>
</div>
<div class="wrapper-light">
<div class="container">
    <div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="lined-wrapper-left">
        <h2 class="lined">Curabitur fermentum consequat nunc laboris.
            Praesent nec ligula eleifend minim risus feugiat
            bibendum sit amet sed purus.</h2>
        </div>

    </div>
    </div>
</div>
</div>
<div class="wrapper-dark">
<div class="container">
    <div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="lined-wrapper-top">
        <blockquote class="blockquote lined">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
        </div>

    </div>
    </div>
</div>
</div>

{% endblock content %}